# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
config.yml
/prompt.txt
/Claude-Lottery Application! Database, API, and Flutter.md
/Lottery Application with PostgreSQL, Golang, and JWT_2024-08-05T16-42-59-909Z.txt
/Lottery Application_ Database, API, and Flutter_2024-08-05T16-39-46-253Z.txt
/Project Description.txt
/Project Description2.txt
/Project Description3.txt
/test.js
/_test
/_details
